<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kidney Disease Classification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="main container">
        <section class="iupload">
            <h3 class="text-center py-4">Kidney Disease Classification</h3>
            <div class="row commonCenterTop">
                <div class="img-part col-md-4">
                    <div class="image-part">
                        <video autoplay id="video"
                            poster="https://diatribe.org/sites/default/files/PredictingCKD.jpg"></video>
                        <img src="" id="photo">
                        <canvas style="display:none;" id="canvas"></canvas>
                    </div>
                    <div class="btn-part">
                        <form id="upload-data pt-3" class="">
                            <div class="input-group mt-3 row button-container">
                                <button type="button" class="btn btn-primary col-md-5 col-xs-5 ml-3 mr-4"
                                    id="uload">Upload</button>
                                <button id="send" type="button"
                                    class="btn btn-success col-md-5 col-xs-5">Predict</button>
                            </div>
                            <!-- change url value  -->
                            <input type="hidden" class="form-control mr-2" id="url" placeholder="Enter REST Api url..."
                                value="../predict" />
                            <input name="upload" type="file" id="fileinput"
                                style="position:absolute;top:-500px;" /><br />
                        </form>
                    </div>
                </div>
                <!-- <div class="right-part">
                    <h5 class="mb-2">
                        <center>Prediction Results</center>
                    </h5>
                    <div class="row">
                        <div class="res-part2 col-md-5 col-xs-12"></div>
                        <div class="res-part col-md-12 col-xs-12">
                            <div class="jsonRes"></div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row commonCenter">

                <!-- <div class="right-part"> -->
                    <h5 class="text-shift">
                        
                    </h5>
                    <!-- </div> -->
                </div>
                <div class="row commonCenterTop">
                    <!-- <div class="res-part2 col-md-5 col-xs-12"></div> -->
                    <div class="res-part col-md-12 col-xs-12">
                        <div class="jsonRes"></div>
                    </div>
                </div>
        </section>
    </div>
    <div id="loading">
        <div class="loader"></div>
    </div>

    <!-- JavaScript Code -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
